name: CI

on:
  push:
    branches: [ "qa" ]

jobs:
    deploy:
        runs-on: windows
        steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Use custom Docker image
          run: |
            docker run --rm -e ACCOUNT_ID=${{ secrets.ACCOUNT_ID }} -e AWS_REGION=${{ secrets.AWS_REGION }} -e GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} -v .:/app niketchandra/aws-cdk:new sh -c "npm install -g ts-node && cdk bootstrap aws://${{ secrets.ACCOUNT_ID }}/${{ secrets.AWS_REGION }}"